.child1{
   margin-right: 20px;
}
.clild2{
    margin-left:20px;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;

}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.mybutton{
    border: 3px solid rgb(167, 120, 120);
    border-radius: 20px;
    padding: 10px 20px ;
    background-color:beige;
}